.board{
    margin-left: 7%;
    margin-top:5%;
    margin-bottom: 2%; 
    font-weight: 600;
    letter-spacing: 0.5;
    border: 0.5px solid gray;
    border-radius: 5px;
    width: 80%;
    padding: 2%;
    box-shadow: 4px 4px #888888;
}
.board h1{
    font-size: 30px;
    color: rgb(32, 25, 92);
}
.board table{
    width: 70vw;
}
.board th {
    font-size: 25px;
    text-align: left;
    color: rgb(47, 47, 107);
    padding:10px;
}
.board td {
    font-size: 15px;
    font-weight: 500;
    padding:10px;
    border-top: 1px rgb(187, 187, 187) solid;
 }
 .board tr:hover td{
    background-color: whitesmoke;
 }